* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fundo {
    background-image: linear-gradient(45deg, black, crimson);
}

#background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#devGabriel {
    text-align: center;
    color: white;
}

.calculadora {
    font-family: 'Arial', sans-serif;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

table {
    width: 100%;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 25px;
    margin: 5px 0;
    cursor: pointer;
    background-color: rgb(31, 31, 30);
    border: none;
    color: white;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

button#igual {
    height: 110px;
}

button:hover {
    background-color: rgb(255, 0, 0);
    color: white;
}

#resultado {
    background-color: aliceblue;
    width: 100%;
    height: 40px;
    font-size: xx-large;
    text-align: right;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}
